.checkoutContainer {
    text-align: right;
    margin-bottom: 20px;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;

    border: 3px solid black;

    justify-content: center;

    align-items: flex-start;

    max-width: 1200px;
    margin: 0 auto;
}
